<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
	<div class="ui menu">
	  <a class="item" href=/>
	    Home
	  </a>
	  <div class="ui pointing dropdown link item">
	    <span class="text">Account</span>
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <div class="item">
	        <i class="dropdown icon"></i>
	        <span class="text">Quick Link</span>
	        <div class="menu">
	          <div class="header">Study List</div>
	          <a href=SATlist><div class="item">SAT</div></a>
	          <div class="item">GRE</div>
	          <div class="item">CASUAL</div>
	          <div class="item">READING</div>
	          <div class="divider"></div>
	          <div class="header">Star List</div>
	          <div class="item">SAT</div>
	          <div class="item">GRE</div>
	          <div class="item">HARD</div>
	        </div>
	      </div>
	      <div class="item">Friends</div>
	      <div class="item">What's New</div>
	      <div class="divider"></div>
	      <div class="item">Account Info</div>
	      <div class="item">Log out</div>
	    </div>
	  </div>
	  <a class="item">
	    Tutorial
	  </a>
	</div>


	<table class="ui celled unstackable table">
	  <thead>
	    <tr>
	    	<th>Word</th>
	    	<th>Definition</th>
	    	<th>Chinese Definition</th>
	    	<th>Star</th>
	  	</tr></thead>
	  <tbody>
	    {{#each SATvocabs}}
      	<tr>
      	<td>{{word}}</td>
      	<td>{{definition}}</td>
      	<td>{{definitionC}}</td>
      	<td><div class="ui rating" data-max-rating="1"></div></td>
      	</tr>
    	{{/each}}
	  </tbody>
	  <tfoot></tfoot>
	</table>



	<script type="text/javascript">
		$('.ui.pointing.dropdown.link.item').dropdown();
		$('.ui.rating')
  		.rating({
    		initialRating: 0,
    		maxRating: 1
  		});
	</script>
  </body>
</html>
