<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
	<div class="ui menu">
	  <a class="item" href=/>
	    Home
	  </a>
	  <div class="ui pointing dropdown link item">
	    <span class="text" id="username">Guest</span>
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <div class="item">
	        <i class="dropdown icon"></i>
	        <span class="text">Quick Link</span>
	        <div class="menu">
	          <div class="header">Study List</div>
	          <a href=SATlist><div class="item">SAT</div></a>
	          <div class="item">GRE</div>
	          <div class="item">IELTS</div>
	          <div class="item">TOEFL</div>
	          <div class="divider"></div>
	          <div class="header">Star List</div>
	        </div>
	      </div>
	      <div class="item">Log out</div>
	    </div>
	  </div>
	  <a class="item" href=tutorial>
	    HELP
	  </a>
	  <a class="item" href=reminder>
	    Study Reminder
	  </a>
	</div>

	<div class="ui modal" id=0>
	  <div class="header">
	    Study Session Complete
	  </div>
	  <div class="image content">
	    <div class="description">
	    <p>You just complete your study session, your score is 
	    	<h3 id='score'></h3>
	    </p>     
	    </div>
	  </div>
	  <div class="actions">
	  	<a href=Study>
	    	<div class="ui black deny button">
	    	  return to study menu
	    	</div>
		</a>
		<a href=SATlist>
	    	<div class="ui positive right labeled icon button">
	    	  review list
	    	  <i class="checkmark icon"></i>
	    	</div>
	    </a>
	    <br />
	  </div>
	</div>

	{{#each SATvocabs}}
	<div class="ui modal" id={{id}}>
	  <div class="header">
	    questions {{id}}:
	  </div>
	  <div class="image content">
	    <div class="description">
	    	<p>Choose the correct definition of the word: <h3>{{word}}</h3></p>
			<div class="ui form">
			  <div class="grouped fields">
			  	<label>Select your answer:</label>
			  </div>
			</div>
	    </div>
	  </div>
	  <div class="actions">
			<div class="ui fluid black deny button" id="correct" style="width:200px">
  				{{definition}}
			</div><br />
			<div class="ui fluid black deny button" id="incorrect" style="width:200px">
  				Orange
			</div><br />
			<div class="ui fluid black deny button" id="incorrect" style="width:200px">
  				Beautiful
			</div><br />
			<div class="ui fluid black deny button" id="incorrect" style="width:200px">
  				Sad
			</div><br />
	    <div class="ui positive right labeled icon button" id="nextButton">
	      Skip
	      <i class="checkmark icon"></i>
	    </div>
	  </div>
	</div>
	{{/each}}




	<script type="text/javascript">
		//drop down animation in menu
		$('.ui.pointing.dropdown.link.item').dropdown();
		//animation for quiz slides
		$('.ui.modal').modal('setting', 'closable', false).modal('show');
		//parse JSON
		var jasonobj = $.get("http://localhost:3000/lists/SAT");
		var counter = 0;
		var i = 0;
		//counter action when clicked on correct answer
		for(i=1; i<=20; i++){
			$('#'+i+' #correct.button').click(function(){
				counter = counter+1;
				$('#score').html(counter+"/20");
				alert("CORRECT!");
				console.log(counter);
			});
			$('#'+i+' #incorrect.button').click(function(){
				alert("EMMM...INCORRECT");
				$('#score').html(counter+"/20");
			});
		}
		//shuffle algorithm
		// var ul = document.querySelector('ul');
		// for (var i = ul.children.length; i >= 0; i--) {
		//     ul.appendChild(ul.children[Math.random() * i | 0]);
		// }

	</script>
  </body>
</html>