<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>

	<div class="ui menu">
	  <a class="item" href=/>
	    Home
	  </a>
	  <div class="ui pointing dropdown link item">
	    <span class="text">Account</span>
	    <i class="dropdown icon"></i>
	    <div class="menu">
	      <div class="item">
	        <i class="dropdown icon"></i>
	        <span class="text">Quick Link</span>
	        <div class="menu">
	          <div class="header">Study List</div>
	          <a href=SATlist><div class="item">SAT</div></a>
	          <div class="item">GRE</div>
	          <div class="item">IELTS</div>
	          <div class="item">TOEFL</div>
	          <div class="divider"></div>
	          <div class="header">Star List</div>
	        </div>
	      </div>
	      <div class="item">Log out</div>
	    </div>
	  </div>
	  <a class="item" href=tutorial>
	    HELP
	  </a>
	  <a class="item" href=reminder>
	    Study Reminder
	  </a>
	</div>

  <div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    What is the star icon for?
  </div>
  <div class="content">
    <p class="transition hidden">To make a star list. Star the words you find difficult to remember definitions for.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What is a star list?
  </div>
  <div class="content">
    <p>A star list is a list of words that you want to prioritize when studying. Typically, they are words you get word very often.</p>
  </div>
      <div class="title">
    <i class="dropdown icon"></i>
    How do I view my star list?
  </div>
  <div class="content">
    <p>Click, “Account” in the navigation bar, then “Quick Link”. You should find star list at the bottom of the drop down.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do I set reminders?
  </div>
  <div class="content">
    <p>You go into the “Study Reminder” section of the application. There you can customize the frequency, time, and method of receiving reminders.</p>
  </div>
    <div class="title">
    <i class="dropdown icon"></i>
How do I know if the reminder has been saved?
  </div>
  <div class="content">
    <p>If you click the “save button” and it turns green, you are good to go!</p>
  </div>
    <div class="title">
    <i class="dropdown icon"></i>
    How do you pick a reminder time?
  </div>
  <div class="content">
    <p>The reminder system uses military time. This means you input an hour from 0-24 instead of the normal 12. If your reminder time is after 12pm, add 12 to the hour. For example, if you want to set a reminder at 8pm, because this is after 12pm, you need to add 12. You will end up with 20 as your hour.</p>
  </div>
    <div class="title">
    <i class="dropdown icon"></i>
    When I click days or methods, why does it autoclick all the options?
  </div>
  <div class="content">
    <p>This was done to make it easier for our users to easily choose multiple options.</p>
  </div>
    <div class="title">
    <i class="dropdown icon"></i>
    How long should I study?
  </div>
  <div class="content">
    <p>We recommend you study once a day for at least 4 weeks for good results</p>
  </div>
      <div class="title">
    <i class="dropdown icon"></i>
   When is the best time to study?
  </div>
  <div class="content">
    <p>This depends on your studying schedule. Some users prefer to start off their day with a quick study session, while others prefer it before bed. Pick a time when you know you’ll typically be free for a session.</p>
  </div>
        <div class="title">
    <i class="dropdown icon"></i>
   How often should I study?
  </div>
  <div class="content">
    <p>We recommend you study once a day for at least 4 weeks for good results.</p>
  </div>
        <div class="title">
    <i class="dropdown icon"></i>
   How do I view all the words in my list?
  </div>
  <div class="content">
    <p>There are two ways to do this. The first way is to go to the “Manage” page through Home. Then, click on the . The second way is to click, “Account” in the navigation bar, then “Quick Link”. You should find your list in the drop-down.</p>
  </div>



	<script type="text/javascript">
		var login_status = false;
		$('.ui.pointing.dropdown.link.item').dropdown();
    //accordian JS
    $('.accordion')
      .accordion({
        selector: {
          trigger: '.title'
        }
      })
    ;
	</script>

</body>
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
</html>